html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

h2 {
  color: #5d8432;
  font-family: "Patua One", cursive;
  text-transform: uppercase;
}

figcaption {
  text-align: center;
  font-style: italic;
}

small {
  text-align: center;
  font-style: italic;
  font-size: .5rem;
}

nav li {
  font-weight: bold;
  font-size: 1.125rem;
  font-family: "Patua One", cursive;
  list-style-type: none;
  text-decoration: none;
}

a {
  color: #793284;
  font-family: "Patua One", cursive;
  list-style-type: none;
  text-decoration: none;
}

a:hover {
  color: #b42885;
}

p {
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
}
